{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{% include 'home/css.html' %}
{% endblock extra_css %}
{% block content %}
        <div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container" style="
					height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
					">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"
                        ><i></i>
                        </a>
                        <h1 id="fh5co-logo">
                            <a href="/">
                                <img class="2xl:w-72 xl:w-64 lg:w-64 md:w-60 w-44 opacity-90"
                                         src="{% static 'logos/IntervalLogo__Graphic_Circle_White.png' %}"
                                         alt="INTERVAL logo" 
										 style="width: 100px; height: 100px;"/>
                            </a>
                        </h1>

						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li class="active">
									<a href="/">Home</a>
								</li>
								<li><a href="/about/">About</a></li>
								<li><a href="/news/">News</a></li>
								<li><a href="/admin/">Log In</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
		</div>


		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center " data-stellar-background-ratio="0.5"
                 style="background-image: url(/static/images/small-road-trees.jpg);">
				<div class="desc animate-box">
					<h2 class="fadeInUp animated">{{ page.header }}</h2>
					<p>
{#                        <a class="btn btn-primary btn-lg btn-learn" href="#">#}
{#                            Learn More</a>#}
                        <a class="btn btn-primary btn-lg popup-vimeo btn-video"
                           href="">
                            <i class="icon-play"></i> Watch Video</a>
                    </p>
				</div>
			</div>

		</div>
		<!-- end:header-top -->
		<div id="fh5co-partner">
			<div class="container">
				<div class="partner-wrap">
					<div class="wrap">
						<!-- <div class="partner animate-box">
							<div class="inner">
								<img class="img-responsive"
                                     src="{% static 'logos/logo_fake_blank.png' %}" alt="">
							</div>
						</div> -->
						<div class="partner animate-box">
							<div class="inner">
								<img class="img-responsive" style="width:150px; height:50px;"
                                     src="https://spatialdynamicslab.fra1.cdn.digitaloceanspaces.com/logos/Research_Ireland_logo.png" alt="Research Ireland Logo">
							</div>
						</div>
						<div class="partner animate-box">
							<div class="inner">
								<img class="img-responsive" style="width: 100%; height:100%"
                                     src="{% static 'logos/IntervalLogo__Lockup_Colour.png' %}" alt="">
							</div>
						</div>
						<div class="partner animate-box">
							<div class="inner">
								<img class="img-responsive" style="width: 52%; height:100%"
                                     src="https://logodix.com/logo/771750.png" alt="">
							</div>
						</div>
						<!-- <div class="partner animate-box">
							<div class="inner">
								<img class="img-responsive"
                                     src="{% static 'logos/logo_fake_blank.png' %}" alt="">
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>

        <div id="fh5co-work">

            <div class="container">
				<div class="row">

                    <div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-pull-2">
								<div class="half-inner" style="background-image:
								url(/static/images/scenic-view.jpg);">
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="desc">
									<h3><a href="#">{{ page.section_1_title }}</a></h3>
									<p>{{ page.section_1_text }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-push-6">
								<div class="half-inner half-inner2"
                                     style="background-image:url(/static/images/park.jpg);">
								</div>
							</div>
							<div class="col-md-6 col-md-pull-6 animate-box">
								<div class="desc desc2">
									<h3><a href="#"></a></h3>
									<p>{{ page.blockquote_text }}</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="container">
				<div class="row">

                    <div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-pull-2">
								<div class="half-inner" style="background-image:
								url(/static/images/park-people.jpg);">
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="desc text-center text-bold">
									<p style="line-height: 1.55;">
                                        {{ page.tile_1_header }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-push-6">
								<div class="half-inner half-inner2"
                                     style="background-image:url(/static/images/stephens-green-1.jpg);">
								</div>
							</div>
							<div class="col-md-6 col-md-pull-6 animate-box">
								<div class="desc text-center text-bold">
									<p style="line-height: 1.55;">
                                        {{ page.tile_2_header }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="container">
				<div class="row">

                    <div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-pull-2">
								<div class="half-inner" style="background-image:
								url(/static/images/liffey-2.jpg);">
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="desc text-center text-bold">
									<p style="line-height: 1.55;">
                                        {{ page.tile_3_header }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-push-6">
								<div class="half-inner half-inner2"
                                     style="background-image:url(/static/images/liffey-1.jpg);">
								</div>
							</div>
							<div class="col-md-6 col-md-pull-6 animate-box">
								<div class="desc text-center text-bold">
									<p style="line-height: 1.55;">
                                        {{ page.tile_4_header }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="container">
				<div class="row">

                    <div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-pull-2">
								<div class="half-inner" style="background-image:
								url(/static/images/dublin-bay.jpg);">
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="desc text-center text-bold">
									<p style="line-height: 1.55;">
                                        {{ page.tile_5_header }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 work">
						<div class="row">
							<div class="col-md-6 col-md-push-6">
								<div class="half-inner half-inner2"
                                     style="background-image:url(/static/images/big-tree-1.jpg);">
								</div>
							</div>
							<div class="col-md-6 col-md-pull-6 animate-box">
								<div class="desc text-center text-bold">
									{% if page.section_1_call_to_action %}
                                        <p>
                                            <a class="btn btn-primary"
                                               href="{{ page.section_1_call_to_action_path }}">
                                                {{ page.section_1_call_to_action }}
                                            </a>
                                        </p>
                                    {% endif %}
								</div>
							</div>




						</div>
					</div>
				</div>
			</div>

{#			<div id="fh5co-features">#}
{#				<div class="container">#}
{#					<div class="row">#}
{#						<div class="col-md-4 animate-box">#}
{##}
{#							<div class="feature-left">#}
{#								<span class="icon">#}
{#									<i class="icon-laptop"></i>#}
{#								</span>#}
{#								<div class="feature-copy">#}
{#									<h3>Retina Ready</h3>#}
{#									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>#}
{#								</div>#}
{#							</div>#}
{##}
{#						</div>#}
{##}
{#						<div class="col-md-4 animate-box">#}
{#							<div class="feature-left">#}
{#								<span class="icon">#}
{#									<i class="icon-mobile"></i>#}
{#								</span>#}
{#								<div class="feature-copy">#}
{#									<h3>Responsive Layout</h3>#}
{#									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>#}
{#								</div>#}
{#							</div>#}
{##}
{#						</div>#}
{#						<div class="col-md-4 animate-box">#}
{#							<div class="feature-left">#}
{#								<span class="icon">#}
{#									<i class="icon-browser"></i>#}
{#								</span>#}
{#								<div class="feature-copy">#}
{#									<h3>Clean &amp; Minimal</h3>#}
{#									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}

		</div>

{#		<div id="fh5co-services-section">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">#}
{#						<h3>What We Do</h3>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="container">#}
{#				<div class="row text-center">#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-browser"></i></span>#}
{#							<h3>Web Development</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-mobile"></i></span>#}
{#							<h3>Mobile Apps</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-tools"></i></span>#}
{#							<h3>UX Design</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-video"></i></span>#}
{#							<h3>Video Editing</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-search"></i></span>#}
{#							<h3>SEO Ranking</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 col-sm-4">#}
{#						<div class="services animate-box">#}
{#							<span><i class="icon-cloud"></i></span>#}
{#							<h3>Cloud Based Apps</h3>#}
{#							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

		<!-- END What we do -->

{#		<div id="fh5co-content-section" class="fh5co-section-gray">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">#}
{#						<h3>Happy Clients</h3>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-md-4 animate-box">#}
{#						<div class="testimony">#}
{#							<blockquote>#}
{#								&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;#}
{#							</blockquote>#}
{#							<figure>#}
{#								<img class="img-responsive" src="images/person_1.jpg" alt="user">#}
{#							</figure>#}
{#							<p class="author">John Doe</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 animate-box">#}
{#						<div class="testimony">#}
{#							<blockquote>#}
{#								&ldquo;Me and my wife had a delightful weekend get away here, the staff were so friendly and attentive. Highly Recommended&rdquo;#}
{#							</blockquote>#}
{#							<figure>#}
{#								<img class="img-responsive" src="images/person_2.jpg" alt="user">#}
{#							</figure>#}
{#							<p class="author">Rob Smith</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-4 animate-box">#}
{#						<div class="testimony">#}
{#							<blockquote>#}
{#								&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;#}
{#							</blockquote>#}
{#							<figure>#}
{#								<img class="img-responsive" src="images/person_3.jpg" alt="user">#}
{#							</figure>#}
{#							<p class="author">Jane Doe</p>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
		<!-- fh5co-content-section -->

    {% if page.tiles_call_to_action %}
		<div id="fh5co-blog-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Project News</h3>
						<p>Find new posts to keep you up to date with the rationale,
                            plans, updates, progress and outcomes of our project and research.</p>

                         <p>
                            <a class="btn btn-primary"
                               href="{{ page.tiles_call_to_action_path }}">
                                {{ page.tiles_call_to_action }}
                            </a>
                        </p>
					</div>
				</div>
			</div>

{#			<div class="container">#}
{#				<div class="row row-bottom-padded-md">#}
{#					<div class="col-lg-4 col-md-4">#}
{#						<div class="fh5co-blog animate-box">#}
{#							<a href="#"><img class="img-responsive" src="images/blog-1.jpg" alt=""></a>#}
{#							<div class="blog-text">#}
{#								<div class="prod-title">#}
{#									<h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>#}
{#									<span class="posted_by">Sep. 15th</span>#}
{#									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>#}
{#									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#									<a href="#" class="btn btn-primary">Read More</a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-lg-4 col-md-4">#}
{#						<div class="fh5co-blog animate-box">#}
{#							<a href="#"><img class="img-responsive" src="images/blog-2.jpg" alt=""></a>#}
{#							<div class="blog-text">#}
{#								<div class="prod-title">#}
{#									<h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>#}
{#									<span class="posted_by">Sep. 15th</span>#}
{#									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>#}
{#									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#									<a href="#" class="btn btn-primary">Read More</a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-lg-4 col-md-4">#}
{#						<div class="fh5co-blog animate-box">#}
{#							<a href="#"><img class="img-responsive" src="images/blog-3.jpg" alt=""></a>#}
{#							<div class="blog-text">#}
{#								<div class="prod-title">#}
{#									<h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>#}
{#									<span class="posted_by">Sep. 15th</span>#}
{#									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>#}
{#									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#									<a href="#" class="btn btn-primary">Read More</a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{##}
{#			</div>#}
		</div>
        {% endif %}
		<!-- fh5co-blog-section -->
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>Project Coordinator</h3>
							<p style="color: white">Dr. Srikanta Sannigrahi
                            srikanta.sannigrahi@ucd.ie</p>
						</div>
						<div class="hidden md:block col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3></h3>
                            <ul class="fh5co-social">
								<p style="padding-left: 100px"><img class="2xl:w-72 2xl:pt-4 xl:w-72 xl:pt-1.5 lg:w-64 lg:pt-1.5 md:w-60
                                    md:pt-1.5 w-44 pt-2 opacity-90"
                                         src="{% static 'logos/INTERVAL_logo_simple_green_2_lg.png' %}"
                                         alt="INTERVAL logo" /></p>
							</ul>

						</div>

						<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
							<h3>Follow Us</h3>
							<ul class="fh5co-social">
								<li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
								<li><a href="#"><i class="icon-linkedin2"></i> LinkedIn</a></li>
							</ul>
						</div>
					</div>
					<div class="row" style="background-color: white;">
						<img src="/static/logos/NCF Ribbon 2024.png" alt="" width="100%" height="100%">
					</div>
				</div>
				<div class="fh5co-copyright text-center">
					<p><small>&copy; INTERVAL a SFI National Challenge Fund project
                        <span>Django integration by
                            <a href="https://twitter.com/jpablogomezb" style="color: black">
                                José P. Gomez</a> based on a
                            <a href="http://freehtml5.co/" style="color: black">
                                FreeHTML5.co</a> design.</span></small></p>
				</div>

			</div>
		</footer>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

<!-- Scripts -->
{% include 'home/js.html' %}
{% endblock content %}





