{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Template Glow -->
<!-- jQuery -->
<script src="{% static 'template_glow/js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'template_glow/js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'template_glow/js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'template_glow/js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar -->
<script src="{% static 'template_glow/js/jquery.stellar.min.js' %}"></script>
<!-- Superfish -->
<script src="{% static 'template_glow/js/hoverIntent.js' %}"></script>
<script src="{% static 'template_glow/js/superfish.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'template_glow/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'template_glow/js/magnific-popup-options.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'template_glow/js/main.js' %}"></script>
<!-- Template Glow -->