{% extends "blog/base.html" %}
{% load static %}
<!-- Load the wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% block extra_css %}
{#<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">#}
{% include 'blog/css.html' %}
{% endblock extra_css %}
{% block content %}
<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
	{% include 'pages/general/navbar.html' %}
	<!-- Menu -->
	{% include 'pages/general/menu.html' %}
    <!-- Main -->
    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2" style="height: 50%;">
            <div class="inner">
                <span class="image">
                    <img src="{% static '/images/stephens-green.jpg' %}"
                         alt="Stephen's green" />
                </span>
                <header class="major">
                    <h1>{{ page.title }}</h1>
                </header>
                <div class="content">
                    <h4>
                        {{ page.subtitle }}
                    </h4>
                </div>
            </div>
        </section>
        <section id="two" class="spotlights">
            <section>
                <a href="generic.html" class="image fit">
                    <img src="{% static '/images/urban-trees-1.jpg' %}" alt="Urban trees"
                         data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h2>{{ page.section_1_title }}</h2>
                        </header>
                        {{ page.section_1_desc|richtext }}
                        {% if page.section_1_call_to_action %}
                         <ul class="actions">
                            <li>
                                <a href="{{ page.section_1_call_to_action_path }}"
                                   class="button small next">
                                    {{ page.section_1_call_to_action }}
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section>
                <a href="generic.html" class="image fit">
                    <img src="{% static '/images/urban-trees.jpg' %}" alt="Urban trees"
                         data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h2>{{ page.section_2_title }}</h2>
                        </header>
                        {{ page.section_2_desc|richtext }}
                        {% if page.section_2_call_to_action %}
                        <ul class="actions">
                            <li>
                                <a href="{{ page.section_2_call_to_action_path }}"
                                   class="button primary small next">
                                    {{ page.section_2_call_to_action }}
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </section>
        </section>

<!-- Contact -->
<section id="contact" class="mt-10">
    <div class="inner">
            <section>
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-envelope"></span>
                        <h3>Project Coordinator</h3>
                        Dr. Srikanta Sannigrahi
                        <br><span href="#"> srikanta.sannigrahi@ucd.ie</span>
                    </div>
                </section>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-home"></span>
                        <h3>Address</h3>
                          
                        <span>UCD School of Geography,<br />
                            Newman Building, UCD Belfield,<br />
                            Dublin 4, D04 F6X4</span>
                    </div>
                </section>
            </section>
		</div>
</section>
{#<!-- Logos -->#}
{#<section class="bg-white"#}
{#         style="border-bottom: solid 1px rgba(212, 212, 255, 0.1)">#}
{#    <div class="p-16 px-6 grid grid-cols-1 gap-8 sm:gap-12 md:grid-cols-3">#}
{#        <img class="max-h-20 w-full mt-12 object-contain md:col-span-1" src="https://logodix.com/logo/771750.png" alt="UCD">#}
{#        <img class="max-h-32 w-full object-contain md:col-span-1 align-center text-center" src="{% static 'logos/INTERVAL_logo_v2_white.png' %}" alt="INTERVAL">#}
{#        <img class="max-h-20 w-full mt-10 object-contain md:col-span-1" src="https://www.sfi.ie/site-files/cms-templates/img/sfi-logo.svg" alt="SFI">#}
{#    </div>#}
{#</section>#}
<!-- Footer -->
{#<footer id="footer" class="bg-white">#}
{#    <div class="inner">#}
{#        <ul class="icons">#}
{#            <li>#}
{#                <a href="" class="icon brands alt fa-twitter">#}
{#                <span class="label">Twitter</span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="" class="icon brands alt fa-linkedin-in">#}
{#                    <span class="label">LinkedIn</span>#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#        <ul class="copyright">#}
{#            <li style="color: #2d3320">&copy; INTERVAL a SFI National Challenge Fund project</li>#}
{#            <li style="color: #2d3320">Django integration by <a href="https://twitter.com/jpablogomezb">José P. Gomez</a>#}
{#                based on a <a href="https://html5up.net">HTML5 UP</a> design</li>#}
{#        </ul>#}
{#    </div>#}
{#</footer>#}
</div>
<!-- Scripts -->
{% include 'blog/js.html' %}
{% endblock content %}