{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{% include 'home/css.html' %}
{% endblock extra_css %}
{% block content %}
<!-- Wrapper -->
<div id="wrapper">
	<!-- Header -->
	{% include 'pages/general/navbar.html' %}
	<!-- Menu -->
	{% include 'pages/general/menu.html' %}
	<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<div class="content">
				<h1>
                    {{ page.header }}
				</h1>
			</div>
		</div>
	</section>
    <!-- Main -->
	<div id="main">
		<!-- one -->
		<section id="one" class="text-interval-green-dark spotlights
		  pr-16 py-16 xm:pr-0">
            <section style="background-color: white">
                <div class="content bg-white">
                    <div class="inner">
                        <h2 class="text-interval-green-dark">
                            {{ page.section_1_title }}
                        </h2>
                        <p>{{ page.section_1_text }}</p>
                        {% if page.section_1_call_to_action %}
                        <ul class="actions">
                            <li>
                                <a href="{{ page.section_1_call_to_action_path }}"
                                   class="button small next">
                                    {{ page.section_1_call_to_action }}
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                 <div style="background-color: white" class="xl:mt-14 xl:m-10 lg:mt-20 lg:m-10
                 md:mt-20 md:m-10 mt-0 m-6 hidden lg:block">
                    <img src="{% static 'logos/INTERVAL_balance_v2_white.png' %}"
                       alt="INTERVAL Logo" class="max-w-full max-h-full">
                </div>
            </section>
        </section>
		<!-- Two -->
		<section id="two" class="tiles">
			<article>
				<span class="image">
					<img src="{% static '/images/park-people.jpg' %}"
                         alt="INTERVAL" />
				</span>
				<header class="major">
					<h3>{{ page.tile_1_header }}</h3>
					<p></p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="{% static '/images/stephens-green-1.jpg' %}"
                         alt="INTERVAL" />
				</span>
				<header class="major">
					<h3>{{ page.tile_2_header }}</h3>
					<p></p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="{% static '/images/liffey-2.jpg' %}"
                         alt="INTERVAL" />
				</span>
				<header class="major">
					<h3>{{ page.tile_3_header }}</h3>
					<p></p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="{% static '/images/liffey-1.jpg' %}"
                         alt="INTERVAL" />
				</span>
				<header class="major">
					<h3>{{ page.tile_4_header }}</h3>
					<p></p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="{% static '/images/park.jpg' %}"
                         alt="INTERVAL" />
				</span>
                {% if page.tiles_call_to_action %}
				<header class="button primary major">
					<h3>
                        <a href="{{ page.tiles_call_to_action_path }}"
                           alt="Project updates">
                            {{ page.tiles_call_to_action }}
                        </a>
                    </h3>
				</header>
                {% endif %}
			</article>
			<article>
				<span class="image">
					<img src="{% static '/images/scenic-view.jpg' %}"
                         alt="INTERVAL" />
				</span>
				<header class="major">
					<h3>{{ page.tile_5_header }}</h3>
					<p></p>
				</header>
			</article>
		</section>

        <section id="three">
            <div class="inner">
                <blockquote style="text-align: center; color: #2D3320">
                    {{ page.blockquote_text }}
                </blockquote>
            </div>
        </section>
	</div>
    <!-- Logos -->
	{% include 'pages/general/logos_section.html' %}
	<!-- Contact -->
	{% include 'pages/general/contact.html' %}
	<!-- Footer -->
	{% include 'pages/general/footer.html' %}
</div>
<!-- Scripts -->
{% include 'home/js.html' %}
{% endblock content %}
