<section id="contact">
    <div class="inner">
            <section>
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-envelope"></span>
                        <h3>Project Coordinator</h3>
                        Dr. Srikanta Sannigrahi
                        <br><span href="#"> srikanta.sannigrahi@ucd.ie</span>
                    </div>
                </section>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-home"></span>
                        <h3>Address</h3>
                        <span>Spatial Dynamics Lab,<br />
                            UCD Richview Campus,<br />
                            D04 V1W8, Belfield, Dublin</span>
                    </div>
                </section>
            </section>
		</div>
</section>